/* channing browser default styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: sans-serif;
}
a {
  text-decoration: none;
}
i {
  cursor: pointer;
}
/* header styling in index & cart */
.navbar {
  margin-bottom: 30px;
  padding: 25px 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: #8bc34a;
  color: #ffffff;
}
.navbar > a {
  color: #ffffff;
}
.cart {
  padding: 5px;
  background: #ffffff;
  color: #8bc34a;
  position: relative;
  font-size: 30px;
  border-radius: 4px;
}
.cartAmount {
  position: absolute;
  top: -15px;
  right: -10px;
  padding: 3px;
  font-size: 16px;
  background: #ffffff;
  color: #8bc34a;
  border-radius: 3px;
}
/* .shop styling in index */
.shop {
  margin-bottom: 50px;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(4, 223px);
  gap: 30px;
}
@media screen and (max-width: 1000px) {
  .shop {
    grid-template-columns: repeat(2, 223px);
  }
}
@media screen and (max-width: 500px) {
  .shop {
    grid-template-columns: repeat(1, 223px);
  }
}
/* products items */
.item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 2px solid #8bc34a;
  border-radius: 4px;
}
.item > img {
  width: 100%;
  height: 219px;
  object-fit: cover;
  border-radius: 2px 2px 0 0;
}
.item > .details {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.item > .details > h3,
p,
.price-quantity > h2,
.buttons > .quantitprice-y {
  color: #8bc34a;
}
.price-quantity {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.buttons {
  font-size: 16px;
  display: flex;
  flex-direction: row;
  gap: 8px;
}
/* i styling in index & cart */
.fa-minus {
  color: darkred;
}
.fa-plus {
  color: darkgreen;
}
/* text centered */
.text-center {
  margin-bottom: 20px;
  text-align: center;
}
/* buttons styling in cart */
.HomeBtn,
.checkout,
.removeAll {
  margin-top: 10px;
  padding: 6px;
  cursor: pointer;
  background: #8bc34a;
  color: #ffffff;
  border: none;
  border-radius: 3px;
}
/* .checkout styling in cart */
.checkout {
  background: darkgreen;
}
/* .removeAll styling in cart */
.removeAll {
  background: darkred;
}
.bi-x-lg {
  font-weight: bold;
  color: darkred;
}
/* .shopping-cart styling in cart */
.shopping-cart {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(1, 320px);
  gap: 15px;
}
/* cart items & cart items details styling in cart */
.cart-item {
  display: flex;
  border: 2px solid #8bc34a;
  border-radius: 5px;
}
.title-price-x {
  width: 195px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid darkred;
}
.title-price {
  display: flex;
  align-items: center;
  gap: 10px;
}
.cart-item-price {
  padding: 3px 6px;
  background: #8bc34a;
  color: #ffffff;
  border-radius: 4px;
}
/* !important, !important & !important */
/* .HomeBtn,
.checkout,
.removeAll {
  border-radius: 3px !important;
} */
